<!DOCTYPE html>
<head>
    <title>Debate24h - Identifíquese</title>
</head>
<body>
    <div style="background-color: #75AADB; width: 100%; height:120px; float:right;">
        <div style="height: 100%; font-family: helvetica; color: White; font-size:xx-large; float:left">
            Debate24h.org
        </div>
        <div align="right" style="float:right;font-family: helvetica;font-size:small;color:White; height:100%; padding-right:10px; padding-top:5px; ">
            <form method="POST" action="" id="Form1">
                <label for="email">Dirección de correo electrónico</label>
                <input type="text" name="email" id="Text1" value="" tabindex="1" />
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="Password1" tabindex="2" />
                <input value="Entrar" tabindex="4" type="submit" id="Submit1" />
            </form>
        </div>
    </div>
</body>
</html>